<% layout('/layouts/boilerplate') -%>

<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h1>Edit your list</h1>
      <form
        method="post"
        action="/listings/<%= lists._id %>/?_method=PUT"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="listing[title]"
            placeholder="edit your title"
            value="<%= lists.title %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Enter your title</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            id="description"
            name="listing[description]"
            value="<%= lists.description %>"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Enter a short description</div>
        </div>

        <div class="mb-3">
          Original Listing Image <br />
          <img class="myimg" src="<%= originalImg %>" />
        </div>

        <div class="mb-3">
          <label for="img" class="form-label">Upload Image</label>
          <input
            type="file"
            name="listing[image]"
            id="image"
            class="form-control"
            required
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              name="listing[price]"
              value="<%= lists.price %>"
              id="price"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Enter a valid price</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              value="<%= lists.country %>"
              id="country"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Enter a valid country name</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            value="<%= lists.location %>"
            id="location"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Enter a valid location</div>
        </div>

        <button class="btn btn-dark add-btn" style="margin-bottom: 10px">
          edit
        </button>
      </form>
    </div>
  </div>
</body>
